// MEDIA QUERIES DE LA GALERIA EXAGONAL EN INDEX.HTML //

@media screen and (min-width:270px) and (max-width:504px){
    .galeria_exagonal{
        grid-auto-rows: 283px;
        & div{
            &:first-of-type{
                grid-column: 1 / span 2;
        }
    }
    }
}
@media screen and (min-width:505px) and (max-width:682px){
    .galeria_exagonal{
        margin-bottom: 9rem;
        margin-top: 4rem;
        & div{
            &:nth-of-type(odd){
                grid-column: 2 / span 3;
        }
    }
    }
}
@media screen and (min-width:683px) and (max-width:857px){
    .galeria_exagonal{
        margin-bottom: 9rem;
        margin-top: 4rem;
        & div{
            &:nth-of-type(3n + 1){
                grid-column: 2 / span 2;
        }
    }
    }
}
@media screen and (min-width:858px) and (max-width:1032px){
    .galeria_exagonal{
        margin-bottom: 9rem;
        margin-top: 4rem;
        & div{
            &:nth-of-type(4n + 1){
                grid-column: 2 / span 2;
        }
    }
    }
}
@media screen and (min-width:1033px) and (max-width:1208px){
    .galeria_exagonal{
        margin-bottom: 9rem;
        margin-top: 4rem;
        & div{
            &:nth-of-type(5n + 1){
                grid-column: 2 / span 2;
        }
    }
    }
}
@media screen and (min-width:1209px) and (max-width:1383px){
    .galeria_exagonal{
        margin-bottom: 9rem;
        margin-top: 4rem;
        & div{
            &:nth-of-type(6n + 1){
                grid-column: 2 / span 2;
        }
    }
    }
}
@media screen and (min-width:1384px) and (max-width:1558px){
    .galeria_exagonal{
        margin-bottom: 9rem;
        margin-top: 4rem;
        & div{
            &:nth-of-type(7n + 1){
                grid-column: 2 / span 2;
        }
    }
    }
}
@media screen and (min-width:1559px) and (max-width:1734px){
    .galeria_exagonal{
        margin-bottom: 9rem;
        margin-top: 4rem;
        & div{
            &:nth-of-type(8n + 1){
                grid-column: 2 / span 2;
        }
    }
    }
}
@media screen and (min-width:1735px) and (max-width:1909px){
    .galeria_exagonal{
        margin-bottom: 9rem;
        margin-top: 4rem;
        & div{
            &:nth-of-type(9n + 1){
                grid-column: 2 / span 2;
        }
    }
    }
}
@media screen and (min-width:1910px) and (max-width:2259px){
    .galeria_exagonal{
        margin-bottom: 9rem;
        margin-top: 4rem;
        & div{
            &:nth-of-type(10n + 1){
                grid-column: 2 / span 2;
        }
    }
    }
}
@media screen and (min-width:2260px) and (max-width:3000px){
    .galeria_exagonal{
        margin-bottom: 9rem;
        margin-top: 4rem;
        & div{
            &:nth-of-type(11n + 1){
                grid-column: 2 / span 2;
        }
    }
    }
}

// MEDIA QUERIES DE LA GALERIA DE PRODUCTOS.HTML //

